/* You can add global styles to this file, and also import other style files */

/* 
** Fonts personalizadas
*/
@font-face {
    font-family: CustomFont;
    src: url(./assets/fonts/Urbanist/Urbanist-Thin.ttf);
    font-weight: 100;
}
@font-face {
    font-family: CustomFont;
    src: url(./assets/fonts/Urbanist/Urbanist-ThinItalic.ttf);
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: CustomFont;
    src: url(./assets/fonts/Urbanist/Urbanist-ExtraLight.ttf);
    font-weight: 200;
}
@font-face {
    font-family: CustomFont;
    src: url(./assets/fonts/Urbanist/Urbanist-ExtraLightItalic.ttf);
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: CustomFont;
    src: url(./assets/fonts/Urbanist/Urbanist-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: CustomFont;
    src: url(./assets/fonts/Urbanist/Urbanist-LightItalic.ttf);
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: CustomFont;
    src: url(./assets/fonts/Urbanist/Urbanist-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: CustomFont;
    src: url(./assets/fonts/Urbanist/Urbanist-Italic.ttf);
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: CustomFont;
    src: url(./assets/fonts/Urbanist/Urbanist-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: CustomFont;
    src: url(./assets/fonts/Urbanist/Urbanist-MediumItalic.ttf);
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: CustomFont;
    src: url(./assets/fonts/Urbanist/Urbanist-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: CustomFont;
    src: url(./assets/fonts/Urbanist/Urbanist-SemiBoldItalic.ttf);
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: CustomFont;
    src: url(./assets/fonts/Urbanist/Urbanist-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: CustomFont;
    src: url(./assets/fonts/Urbanist/Urbanist-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: CustomFont;
    src: url(./assets/fonts/Urbanist/Urbanist-ExtraBold.ttf);
    font-weight: 800;
}
@font-face {
    font-family: CustomFont;
    src: url(./assets/fonts/Urbanist/Urbanist-ExtraBoldItalic.ttf);
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: CustomFont;
    src: url(./assets/fonts/Urbanist/Urbanist-Black.ttf);
    font-weight: 900;
}
@font-face {
    font-family: CustomFont;
    src: url(./assets/fonts/Urbanist/Urbanist-BlackItalic.ttf);
    font-weight: 900;
    font-style: italic;
}

/*
** CSS Genérico
*/
* {
    margin: 0;
    padding: 0;
    font-family: CustomFont, 'Trebuchet MS', sans-serif;    
}
body {
    background-color: #faebd7;
    width: 100%;
}