<div class="row justify-content-center">
    <div class="col-auto section">
        <h1>
            Lorem Ipsum
        </h1>
        <p>
            <cite>
                "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
            </cite>
            <br>
            <cite>
                "No hay nadie que ame el dolor mismo, que lo busque, lo encuentre y lo quiera, simplemente porque es el dolor."
            </cite>            
        </p>
        <hr>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel orci eu dui accumsan molestie sit amet ac lectus. Proin euismod quis ante nec efficitur. Nullam quis velit elit. Proin accumsan erat vitae vulputate volutpat. Nulla ac dolor est. Vestibulum non ipsum venenatis, suscipit nisi eu, aliquam dui. Morbi placerat, nibh sit amet finibus varius, turpis justo finibus mauris, eu placerat mi turpis id sapien. Vivamus sit amet leo vel turpis interdum tempus non nec nunc. Aliquam quis arcu mi.
        </p>
        <p>
            Mauris mollis et justo eu tempus. Nulla sit amet laoreet tortor, ut mollis arcu. Morbi finibus magna eu rutrum finibus. Proin eu mi nulla. Proin pellentesque placerat diam, sit amet gravida orci fermentum at. Vestibulum scelerisque tristique purus non imperdiet. Sed sagittis, dui sed aliquet volutpat, urna nunc convallis ligula, non consectetur urna velit id elit. Phasellus nec lectus ut ipsum suscipit eleifend.
        </p>
        <p>
            Vivamus lobortis sapien eu tempor porta. Nullam condimentum dictum leo. Maecenas a risus eleifend ex euismod hendrerit ac a erat. Sed a quam lectus. Vestibulum venenatis nisi eu leo molestie, at suscipit leo facilisis. Aenean eleifend condimentum ante, a vehicula turpis tempus at. In pharetra, mi vitae varius fermentum, tellus mauris tempus nisl, at semper ante orci sit amet ante. Sed hendrerit erat tellus, ut molestie dolor ultricies eu.
        </p>
        <p>
            Donec varius maximus mattis. Etiam luctus eros id ex hendrerit vestibulum. Nam nisl odio, ultricies viverra iaculis in, lacinia ac turpis. Nullam erat eros, pharetra eu bibendum non, porta non nunc. Nunc hendrerit ut nibh eget tincidunt. Nulla facilisi. Ut eleifend dictum leo, ut dictum dui volutpat ac.
        </p>
        <p>
            Vestibulum non massa ut lacus pharetra bibendum eu nec nisi. Sed a imperdiet enim. Cras iaculis felis ac arcu lobortis eleifend ac nec metus. Morbi lacinia, libero id aliquet commodo, tortor diam commodo erat, non aliquet velit justo in lacus. Nunc sit amet sapien eros. Duis quam arcu, tristique vel vehicula at, dignissim sed urna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi sem nisi, lobortis quis porta at, aliquam sit amet elit. Nunc quis luctus lacus, vel condimentum sapien. Proin quam est, sollicitudin vitae orci vehicula, fringilla pulvinar risus. Nullam id mi efficitur, varius diam nec, vulputate tortor. Sed metus nulla, vestibulum sed mauris quis, malesuada lobortis metus.
        </p>
        <p>
            <b>Generados 5 párrafos, 425 palabras, 2766 bytes de Lorem Ipsum</b>
        </p>        
    </div>
</div>